body {
    padding-top: 20px;
}

.logo {
    width: 103px;
    height: 57px;
}

.facet-list {
    list-style: none;
}

.facet-name {

}

.facet-count {

}

.results-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.results-list li {
    margin-bottom: 20px;
}

.mainProdImage {
    max-width: 200px;
}

.podTitle {
    font-family: ozBold,Arial,Helvetica,sans-serif;
    font-size: 16px;
}
