body {
    padding-top: 20px;
}

.logo {
    width: 103px;
    height: 57px;
}

.facet-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.facet-list label {
    margin: 0;
    font-weight: normal;
    color: #337ab7;
}

.facet-list li {
    margin: 0 0 0 5px;
}

.results-count {
    text-align: center;
    font-style: italic;
}

.results-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.results-list li {
    margin-bottom: 20px;
}

.mainProdImage {
    max-width: 200px;
}

.podTitle {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
}
