<div>
    <ng-switch on="vm.type">
        <input ng-switch-when="single"
            type="radio"
            id="{{ vm.facetName }}-{{ vm.value.key }}"
            name="{{ vm.facetName }}"
            ng-value="true"
            ng-model="vm.value.selected"
            ng-change="vm.onChange({value: vm.value})"
        >
        <input ng-switch-default
            type="checkbox"
            id="{{ vm.facetName }}-{{ vm.value.key }}"
            ng-model="vm.value.selected"
            ng-change="vm.onChange({value: vm.value})"
        >
    </ng-switch>
    <label for="{{ vm.facetName }}-{{ vm.value.key }}" ng-bind-html="vm.getLabel()" />
</div>
