<div>
    <ng-switch on="vm.isRange">
        <input ng-switch-when="true"
            type="radio"
            id="facet{{ vm.facetId }}-value{{ vm.value.id }}"
            name="{{ vm.id }}"
            ng-value="true"
            ng-model="vm.value.selected"
            ng-change="vm.onChange({value: vm.value})"
        >
        <input ng-switch-default
            type="checkbox"
            id="facet{{ vm.facetId }}-value{{ vm.value.id }}"
            ng-model="vm.value.selected"
            ng-change="vm.onChange({value: vm.value})"
        >
    </ng-switch>
    <label for="facet{{ vm.facetId }}-value{{ vm.value.id }}" ng-bind-html="vm.value.text" />
</div>
