<ul>
    <div class="productInfoArea">
        <div class="podLeftContent">
            <img class="mainProdImage" ng-src="{{ vm.product.Image }}">
            <span>{{ vm.product.EnergyRating }}</span>
        </div>
        <div class="podCentreContent">
            <!-- TODO: brand logo -->
            <h2 class="podTitle">{{ vm.product.FullTitle }}</h2>
        </div>
        <div class="podRightContent">
            <span>&pound;{{ vm.product.Price }}</span>
        </div>
    </div>
</ul>
